paleta <  ~/.palettes/tomorrow-night-dark

#kfc -s base16-outrun
ALACRITTY_FONT=Glass_TTY_VT220

if [[ "$KITTY_PID" -gt 0 ]]; then
    echo kitty

fi

if [[ -e "$ALACRITTY_SOCKET" ]]; then
    pycritty -f "$ALACRITTY_FONT"
fi
