*/embeds/*
*/.cache
*/.attic
.attic
.cache
.nodemon.log
embeds
.n
**/vendor/*
**/submodules/*
*/build
*/.cache
loader/meson/*
embed/meson/*
tmp/
*/*/subprojects/*
*//subprojects/*
*/subprojects/*
subprojects/*/
*unc-backup*
*.png
etc/*.json
etc/*.sqlite
abc.db
etc/dbmem0.dat
etc/dbmem0.sqlite
./etc/parsed-colors.json
build
.find
.*.csv
.*.json
.*.sqlite
.make-log-*
.make-*log*
.DU
submodules/c_deps
.meson.build*.log
.meson-build*.log
